/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
body{
  margin:0em;
  background-color: antiquewhite;
}


.header-manu{
width:auto;
height:auto;
background-image: url(../background.jpeg);


}
.header-manu h1{
    text-align: center;  
    color: aliceblue;
    padding-top: 2em;
}
.header-manu p{
  color: antiquewhite;
  text-align: center;
  font-size: 18px;
  padding: 2em 6em 2em 6em;

}
.topnav {
    overflow: hidden;
    padding-left: 32em;
    /* for mobile its 2em*/
  }
  @media screen and (max-width:390px) {
  
    .topnav {
      padding-left: 0em;
    }
  }
  .topnav a {
    float: left;
    color:antiquewhite;
    text-align:center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 20px;

    
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .sec_container{

  }
  .skills{

    text-align: center;  
    color:#950740;
    padding-top: 1em;
    font-size: 2em;
    background-color: antiquewhite;
  }
  .flex-container {
    display: flex;
    background-color: #191817;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    padding: 3em;
}
  
  .flex-container > div {
   
    margin: 10px;
    color: antiquewhite;
    padding: 20px;
    font-size: 20px;
  }